$first-color-with-opacity: rgba(226, 27, 60, 0.55);
$second-color-with-opacity: rgba(19, 104, 206, 0.55);
$third-color-with-opacity: rgba(216, 158, 0, 0.55);
$fourth-color-with-opacity: rgba(38, 137, 12, 0.55);

$first-color: rgba(226, 27, 60);
$second-color: rgba(19, 104, 206);
$third-color: rgba(216, 158, 0);
$fourth-color: rgba(38, 137, 12);
