$first-color-with-opacity: rgba(0, 255, 140, 0.55);
$second-color-with-opacity: rgba(0, 98, 255, 0.55);
$third-color-with-opacity: rgba(255, 48, 52, 0.80);
$fourth-color-with-opacity: rgba(255, 231, 48, 0.79);

$first-color: rgba(0, 255, 140, 1);;
$second-color: rgba(0, 98, 255, 1);
$third-color: rgba(255, 48, 52, 1);
$fourth-color: rgba(255, 231, 48, 1);
