.stage-fourth__type-answer-view-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;

  .stage-fourth__type-answer-view-mobile-input {
    width: 100%;
  }

  .stage-fourth__type-answer-view-mobile-button {
    width: 100%;
    margin-top: 10px;
  }
}

