.stage-fourth__type-answer-view {
  .stage-fourth__type-answer-view__font {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 80px;
    font-family: 'Dela Gothic One', cursive;
    margin: 0;
    text-align: center;

    opacity: 0.8;
  }
}

.stage-fourth__footer .fourth-stage__font {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  opacity: 0.8;

  font-size: 80px;
  font-family: 'Dela Gothic One', cursive;

  text-align: center;
}
